/* Border radius
********************************************************************/
/* Colors (from the excellent FlatUiColors http://flatuicolors.com/)
********************************************************************/
/* Size
*************************/
/* line 20, ../sass/main.scss */
button.holy, a.holy, span.holy {
  text-decoration: none;
  display: inline-block;
  border: 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  outline: 0;
  position: relative;
  text-align: center;
  /** STYLE 1 (SIMPLE)
  **************************/
  /** STYLE 2 (WHITE IS FRIENDLY)
  ******************************/
  /** STYLE 3 (3D)
  ******************************/
  /** STYLE 4 (GYM'ICON)
  ******************************/
}
/* line 31, ../sass/main.scss */
button.holy span, a.holy span, span.holy span {
  position: relative;
  z-index: 4;
}
/* line 35, ../sass/main.scss */
button.holy:before, a.holy:before, span.holy:before {
  position: relative;
}
/* line 38, ../sass/main.scss */
button.holy:hover, a.holy:hover, span.holy:hover {
  cursor: pointer;
}
/* line 45, ../sass/main.scss */
button.holy.simple, a.holy.simple, span.holy.simple {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 20px;
  font-size: 16px;
  line-height: 54.4px;
}
/* line 79, ../sass/base.scss */
button.holy.simple:before, a.holy.simple:before, span.holy.simple:before {
  font-size: 25.6px;
  float: left;
  line-height: 54.4px;
  margin-right: 12px;
}
/* line 85, ../sass/base.scss */
button.holy.simple.small, a.holy.simple.small, span.holy.simple.small {
  padding: 0 11px;
  font-size: 12px;
  line-height: 31.8px;
}
/* line 89, ../sass/base.scss */
button.holy.simple.small:before, a.holy.simple.small:before, span.holy.simple.small:before {
  font-size: 14.4px;
  line-height: 31.8px;
  margin-right: 6.6px;
}
/* line 95, ../sass/base.scss */
button.holy.simple.medium, a.holy.simple.medium, span.holy.simple.medium {
  padding: 0 14px;
  font-size: 14.4px;
  line-height: 44.064px;
}
/* line 99, ../sass/base.scss */
button.holy.simple.medium:before, a.holy.simple.medium:before, span.holy.simple.medium:before {
  font-size: 20.16px;
  line-height: 44.064px;
  margin-right: 8.4px;
}
/* line 105, ../sass/base.scss */
button.holy.simple.big, a.holy.simple.big, span.holy.simple.big {
  padding: 0 24px;
  font-size: 22.4px;
  line-height: 62.72px;
}
/* line 109, ../sass/base.scss */
button.holy.simple.big:before, a.holy.simple.big:before, span.holy.simple.big:before {
  font-size: 40.32px;
  line-height: 62.72px;
  margin-right: 14.4px;
}
/* line 115, ../sass/base.scss */
button.holy.simple.only-icon, a.holy.simple.only-icon, span.holy.simple.only-icon {
  padding: 0;
  line-height: 54.4px;
  height: 54.4px;
  width: 54.4px;
}
/* line 120, ../sass/base.scss */
button.holy.simple.only-icon:before, a.holy.simple.only-icon:before, span.holy.simple.only-icon:before {
  float: none;
  line-height: inherit;
  margin-right: 0;
  text-align: center;
}
/* line 126, ../sass/base.scss */
button.holy.simple.only-icon.small, a.holy.simple.only-icon.small, span.holy.simple.only-icon.small {
  width: 31.8px;
  height: 31.8px;
  line-height: 31.8px;
}
/* line 127, ../sass/base.scss */
button.holy.simple.only-icon.medium, a.holy.simple.only-icon.medium, span.holy.simple.only-icon.medium {
  width: 44.064px;
  height: 44.064px;
  line-height: 44.064px;
}
/* line 128, ../sass/base.scss */
button.holy.simple.only-icon.big, a.holy.simple.only-icon.big, span.holy.simple.only-icon.big {
  width: 62.72px;
  height: 62.72px;
  line-height: 62.72px;
}
/* line 130, ../sass/base.scss */
button.holy.simple[class*="hover3"], a.holy.simple[class*="hover3"], span.holy.simple[class*="hover3"] {
  padding-left: 0;
}
/* line 132, ../sass/base.scss */
button.holy.simple[class*="hover3"]:before, a.holy.simple[class*="hover3"]:before, span.holy.simple[class*="hover3"]:before {
  padding: 0;
  width: 48px;
  margin-right: 24px;
}
/* line 138, ../sass/base.scss */
button.holy.simple[class*="hover3"].small:before, a.holy.simple[class*="hover3"].small:before, span.holy.simple[class*="hover3"].small:before {
  width: 26.4px;
  margin-right: 13.2px;
}
/* line 144, ../sass/base.scss */
button.holy.simple[class*="hover3"].medium:before, a.holy.simple[class*="hover3"].medium:before, span.holy.simple[class*="hover3"].medium:before {
  width: 33.6px;
  margin-right: 16.8px;
}
/* line 150, ../sass/base.scss */
button.holy.simple[class*="hover3"].big:before, a.holy.simple[class*="hover3"].big:before, span.holy.simple[class*="hover3"].big:before {
  width: 57.6px;
  margin-right: 28.8px;
}
/* line 155, ../sass/base.scss */
button.holy.simple[class*="hover3"]:after, a.holy.simple[class*="hover3"]:after, span.holy.simple[class*="hover3"]:after {
  width: 11.2px;
  height: 11.2px;
  left: 42.4px;
  top: 21.6px;
}
/* line 162, ../sass/base.scss */
button.holy.simple[class*="hover3"].small:after, a.holy.simple[class*="hover3"].small:after, span.holy.simple[class*="hover3"].small:after {
  width: 8.4px;
  height: 8.4px;
  left: 21.9px;
  top: 11.7px;
}
/* line 170, ../sass/base.scss */
button.holy.simple[class*="hover3"].medium:after, a.holy.simple[class*="hover3"].medium:after, span.holy.simple[class*="hover3"].medium:after {
  width: 10.08px;
  height: 10.08px;
  left: 28.56px;
  top: 16.992px;
}
/* line 178, ../sass/base.scss */
button.holy.simple[class*="hover3"].big:after, a.holy.simple[class*="hover3"].big:after, span.holy.simple[class*="hover3"].big:after {
  width: 15.68px;
  height: 15.68px;
  left: 49.76px;
  top: 23.52px;
}
/* line 186, ../sass/base.scss */
button.holy.simple[class*="hover3"]:active:after, a.holy.simple[class*="hover3"]:active:after, span.holy.simple[class*="hover3"]:active:after {
  width: 16px;
  height: 16px;
  left: 40px;
  top: 19.2px;
}
/* line 195, ../sass/base.scss */
button.holy.simple[class*="hover3"].small:active:after, a.holy.simple[class*="hover3"].small:active:after, span.holy.simple[class*="hover3"].small:active:after {
  width: 12px;
  height: 12px;
  left: 20.4px;
  top: 9.9px;
}
/* line 205, ../sass/base.scss */
button.holy.simple[class*="hover3"].medium:active:after, a.holy.simple[class*="hover3"].medium:active:after, span.holy.simple[class*="hover3"].medium:active:after {
  width: 14.4px;
  height: 14.4px;
  left: 26.4px;
  top: 14.832px;
}
/* line 215, ../sass/base.scss */
button.holy.simple[class*="hover3"].big:active:after, a.holy.simple[class*="hover3"].big:active:after, span.holy.simple[class*="hover3"].big:active:after {
  width: 22.4px;
  height: 22.4px;
  left: 46.4px;
  top: 20.16px;
}
/* line 225, ../sass/base.scss */
button.holy.simple.gymicon.burst, a.holy.simple.gymicon.burst, span.holy.simple.gymicon.burst {
  overflow: hidden;
}
/* line 227, ../sass/base.scss */
button.holy.simple.gymicon.burst:before, a.holy.simple.gymicon.burst:before, span.holy.simple.gymicon.burst:before {
  position: relative;
  z-index: 2;
}
/* line 231, ../sass/base.scss */
button.holy.simple.gymicon.burst:after, a.holy.simple.gymicon.burst:after, span.holy.simple.gymicon.burst:after {
  content: '';
  background-color: white;
  position: absolute;
  z-index: 1;
  width: 80px;
  height: 80px;
  left: -12px;
  top: 50%;
  -moz-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  -webkit-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 246, ../sass/base.scss */
button.holy.simple.gymicon.burst.small:after, a.holy.simple.gymicon.burst.small:after, span.holy.simple.gymicon.burst.small:after {
  width: 60px;
  height: 60px;
  left: -6.6px;
}
/* line 253, ../sass/base.scss */
button.holy.simple.gymicon.burst.medium:after, a.holy.simple.gymicon.burst.medium:after, span.holy.simple.gymicon.burst.medium:after {
  width: 72px;
  height: 72px;
  left: -8.4px;
}
/* line 260, ../sass/base.scss */
button.holy.simple.gymicon.burst.big:after, a.holy.simple.gymicon.burst.big:after, span.holy.simple.gymicon.burst.big:after {
  width: 112px;
  height: 112px;
  left: -14.4px;
}
/* line 267, ../sass/base.scss */
button.holy.simple.gymicon.burst:hover:after, a.holy.simple.gymicon.burst:hover:after, span.holy.simple.gymicon.burst:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
/* line 274, ../sass/base.scss */
button.holy.simple.gymicon.burst.only-icon:after, a.holy.simple.gymicon.burst.only-icon:after, span.holy.simple.gymicon.burst.only-icon:after {
  left: 50%;
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}
/* line 279, ../sass/base.scss */
button.holy.simple.gymicon.burst.only-icon:hover:after, a.holy.simple.gymicon.burst.only-icon:hover:after, span.holy.simple.gymicon.burst.only-icon:hover:after {
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
/* line 286, ../sass/base.scss */
button.holy.simple.vertical, a.holy.simple.vertical, span.holy.simple.vertical {
  line-height: 1;
}
/* line 292, ../sass/base.scss */
button.holy.simple.vertical:before, a.holy.simple.vertical:before, span.holy.simple.vertical:before {
  float: none;
  display: block;
  margin-right: 0;
  line-height: 43.52px;
}
/* line 298, ../sass/base.scss */
button.holy.simple.vertical span, a.holy.simple.vertical span, span.holy.simple.vertical span {
  display: block;
  margin-bottom: 0;
  line-height: 43.52px;
}
/* line 304, ../sass/base.scss */
button.holy.simple.vertical.small:before, button.holy.simple.vertical.small span, a.holy.simple.vertical.small:before, a.holy.simple.vertical.small span, span.holy.simple.vertical.small:before, span.holy.simple.vertical.small span {
  line-height: 25.44px;
}
/* line 307, ../sass/base.scss */
button.holy.simple.vertical.medium:before, button.holy.simple.vertical.medium span, a.holy.simple.vertical.medium:before, a.holy.simple.vertical.medium span, span.holy.simple.vertical.medium:before, span.holy.simple.vertical.medium span {
  line-height: 35.2512px;
}
/* line 310, ../sass/base.scss */
button.holy.simple.vertical.big:before, button.holy.simple.vertical.big span, a.holy.simple.vertical.big:before, a.holy.simple.vertical.big span, span.holy.simple.vertical.big:before, span.holy.simple.vertical.big span {
  line-height: 50.176px;
}
/* line 312, ../sass/base.scss */
button.holy.simple.vertical.style2, a.holy.simple.vertical.style2, span.holy.simple.vertical.style2 {
  padding: 0;
}
/* line 314, ../sass/base.scss */
button.holy.simple.vertical.style2 span, a.holy.simple.vertical.style2 span, span.holy.simple.vertical.style2 span {
  padding: 0 20px;
}
/* line 318, ../sass/base.scss */
button.holy.simple.vertical.style2:active span, a.holy.simple.vertical.style2:active span, span.holy.simple.vertical.style2:active span {
  top: 3px;
}
/* line 48, ../sass/main.scss */
button.holy.simple.light-radius, a.holy.simple.light-radius, span.holy.simple.light-radius {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 49, ../sass/main.scss */
button.holy.simple.normal-radius, a.holy.simple.normal-radius, span.holy.simple.normal-radius {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 50, ../sass/main.scss */
button.holy.simple.round-radius, a.holy.simple.round-radius, span.holy.simple.round-radius {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* line 56, ../sass/main.scss */
button.holy.wb, a.holy.wb, span.holy.wb {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 20px;
  font-size: 16px;
  line-height: 54.4px;
}
/* line 79, ../sass/base.scss */
button.holy.wb:before, a.holy.wb:before, span.holy.wb:before {
  font-size: 25.6px;
  float: left;
  line-height: 54.4px;
  margin-right: 12px;
}
/* line 85, ../sass/base.scss */
button.holy.wb.small, a.holy.wb.small, span.holy.wb.small {
  padding: 0 11px;
  font-size: 12px;
  line-height: 31.8px;
}
/* line 89, ../sass/base.scss */
button.holy.wb.small:before, a.holy.wb.small:before, span.holy.wb.small:before {
  font-size: 14.4px;
  line-height: 31.8px;
  margin-right: 6.6px;
}
/* line 95, ../sass/base.scss */
button.holy.wb.medium, a.holy.wb.medium, span.holy.wb.medium {
  padding: 0 14px;
  font-size: 14.4px;
  line-height: 44.064px;
}
/* line 99, ../sass/base.scss */
button.holy.wb.medium:before, a.holy.wb.medium:before, span.holy.wb.medium:before {
  font-size: 20.16px;
  line-height: 44.064px;
  margin-right: 8.4px;
}
/* line 105, ../sass/base.scss */
button.holy.wb.big, a.holy.wb.big, span.holy.wb.big {
  padding: 0 24px;
  font-size: 22.4px;
  line-height: 62.72px;
}
/* line 109, ../sass/base.scss */
button.holy.wb.big:before, a.holy.wb.big:before, span.holy.wb.big:before {
  font-size: 40.32px;
  line-height: 62.72px;
  margin-right: 14.4px;
}
/* line 115, ../sass/base.scss */
button.holy.wb.only-icon, a.holy.wb.only-icon, span.holy.wb.only-icon {
  padding: 0;
  line-height: 54.4px;
  height: 54.4px;
  width: 54.4px;
}
/* line 120, ../sass/base.scss */
button.holy.wb.only-icon:before, a.holy.wb.only-icon:before, span.holy.wb.only-icon:before {
  float: none;
  line-height: inherit;
  margin-right: 0;
  text-align: center;
}
/* line 126, ../sass/base.scss */
button.holy.wb.only-icon.small, a.holy.wb.only-icon.small, span.holy.wb.only-icon.small {
  width: 31.8px;
  height: 31.8px;
  line-height: 31.8px;
}
/* line 127, ../sass/base.scss */
button.holy.wb.only-icon.medium, a.holy.wb.only-icon.medium, span.holy.wb.only-icon.medium {
  width: 44.064px;
  height: 44.064px;
  line-height: 44.064px;
}
/* line 128, ../sass/base.scss */
button.holy.wb.only-icon.big, a.holy.wb.only-icon.big, span.holy.wb.only-icon.big {
  width: 62.72px;
  height: 62.72px;
  line-height: 62.72px;
}
/* line 130, ../sass/base.scss */
button.holy.wb[class*="hover3"], a.holy.wb[class*="hover3"], span.holy.wb[class*="hover3"] {
  padding-left: 0;
}
/* line 132, ../sass/base.scss */
button.holy.wb[class*="hover3"]:before, a.holy.wb[class*="hover3"]:before, span.holy.wb[class*="hover3"]:before {
  padding: 0;
  width: 48px;
  margin-right: 24px;
}
/* line 138, ../sass/base.scss */
button.holy.wb[class*="hover3"].small:before, a.holy.wb[class*="hover3"].small:before, span.holy.wb[class*="hover3"].small:before {
  width: 26.4px;
  margin-right: 13.2px;
}
/* line 144, ../sass/base.scss */
button.holy.wb[class*="hover3"].medium:before, a.holy.wb[class*="hover3"].medium:before, span.holy.wb[class*="hover3"].medium:before {
  width: 33.6px;
  margin-right: 16.8px;
}
/* line 150, ../sass/base.scss */
button.holy.wb[class*="hover3"].big:before, a.holy.wb[class*="hover3"].big:before, span.holy.wb[class*="hover3"].big:before {
  width: 57.6px;
  margin-right: 28.8px;
}
/* line 155, ../sass/base.scss */
button.holy.wb[class*="hover3"]:after, a.holy.wb[class*="hover3"]:after, span.holy.wb[class*="hover3"]:after {
  width: 11.2px;
  height: 11.2px;
  left: 42.4px;
  top: 21.6px;
}
/* line 162, ../sass/base.scss */
button.holy.wb[class*="hover3"].small:after, a.holy.wb[class*="hover3"].small:after, span.holy.wb[class*="hover3"].small:after {
  width: 8.4px;
  height: 8.4px;
  left: 21.9px;
  top: 11.7px;
}
/* line 170, ../sass/base.scss */
button.holy.wb[class*="hover3"].medium:after, a.holy.wb[class*="hover3"].medium:after, span.holy.wb[class*="hover3"].medium:after {
  width: 10.08px;
  height: 10.08px;
  left: 28.56px;
  top: 16.992px;
}
/* line 178, ../sass/base.scss */
button.holy.wb[class*="hover3"].big:after, a.holy.wb[class*="hover3"].big:after, span.holy.wb[class*="hover3"].big:after {
  width: 15.68px;
  height: 15.68px;
  left: 49.76px;
  top: 23.52px;
}
/* line 186, ../sass/base.scss */
button.holy.wb[class*="hover3"]:active:after, a.holy.wb[class*="hover3"]:active:after, span.holy.wb[class*="hover3"]:active:after {
  width: 16px;
  height: 16px;
  left: 40px;
  top: 19.2px;
}
/* line 195, ../sass/base.scss */
button.holy.wb[class*="hover3"].small:active:after, a.holy.wb[class*="hover3"].small:active:after, span.holy.wb[class*="hover3"].small:active:after {
  width: 12px;
  height: 12px;
  left: 20.4px;
  top: 9.9px;
}
/* line 205, ../sass/base.scss */
button.holy.wb[class*="hover3"].medium:active:after, a.holy.wb[class*="hover3"].medium:active:after, span.holy.wb[class*="hover3"].medium:active:after {
  width: 14.4px;
  height: 14.4px;
  left: 26.4px;
  top: 14.832px;
}
/* line 215, ../sass/base.scss */
button.holy.wb[class*="hover3"].big:active:after, a.holy.wb[class*="hover3"].big:active:after, span.holy.wb[class*="hover3"].big:active:after {
  width: 22.4px;
  height: 22.4px;
  left: 46.4px;
  top: 20.16px;
}
/* line 225, ../sass/base.scss */
button.holy.wb.gymicon.burst, a.holy.wb.gymicon.burst, span.holy.wb.gymicon.burst {
  overflow: hidden;
}
/* line 227, ../sass/base.scss */
button.holy.wb.gymicon.burst:before, a.holy.wb.gymicon.burst:before, span.holy.wb.gymicon.burst:before {
  position: relative;
  z-index: 2;
}
/* line 231, ../sass/base.scss */
button.holy.wb.gymicon.burst:after, a.holy.wb.gymicon.burst:after, span.holy.wb.gymicon.burst:after {
  content: '';
  background-color: white;
  position: absolute;
  z-index: 1;
  width: 80px;
  height: 80px;
  left: -12px;
  top: 50%;
  -moz-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  -webkit-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 246, ../sass/base.scss */
button.holy.wb.gymicon.burst.small:after, a.holy.wb.gymicon.burst.small:after, span.holy.wb.gymicon.burst.small:after {
  width: 60px;
  height: 60px;
  left: -6.6px;
}
/* line 253, ../sass/base.scss */
button.holy.wb.gymicon.burst.medium:after, a.holy.wb.gymicon.burst.medium:after, span.holy.wb.gymicon.burst.medium:after {
  width: 72px;
  height: 72px;
  left: -8.4px;
}
/* line 260, ../sass/base.scss */
button.holy.wb.gymicon.burst.big:after, a.holy.wb.gymicon.burst.big:after, span.holy.wb.gymicon.burst.big:after {
  width: 112px;
  height: 112px;
  left: -14.4px;
}
/* line 267, ../sass/base.scss */
button.holy.wb.gymicon.burst:hover:after, a.holy.wb.gymicon.burst:hover:after, span.holy.wb.gymicon.burst:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
/* line 274, ../sass/base.scss */
button.holy.wb.gymicon.burst.only-icon:after, a.holy.wb.gymicon.burst.only-icon:after, span.holy.wb.gymicon.burst.only-icon:after {
  left: 50%;
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}
/* line 279, ../sass/base.scss */
button.holy.wb.gymicon.burst.only-icon:hover:after, a.holy.wb.gymicon.burst.only-icon:hover:after, span.holy.wb.gymicon.burst.only-icon:hover:after {
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
/* line 286, ../sass/base.scss */
button.holy.wb.vertical, a.holy.wb.vertical, span.holy.wb.vertical {
  line-height: 1;
}
/* line 292, ../sass/base.scss */
button.holy.wb.vertical:before, a.holy.wb.vertical:before, span.holy.wb.vertical:before {
  float: none;
  display: block;
  margin-right: 0;
  line-height: 43.52px;
}
/* line 298, ../sass/base.scss */
button.holy.wb.vertical span, a.holy.wb.vertical span, span.holy.wb.vertical span {
  display: block;
  margin-bottom: 0;
  line-height: 43.52px;
}
/* line 304, ../sass/base.scss */
button.holy.wb.vertical.small:before, button.holy.wb.vertical.small span, a.holy.wb.vertical.small:before, a.holy.wb.vertical.small span, span.holy.wb.vertical.small:before, span.holy.wb.vertical.small span {
  line-height: 25.44px;
}
/* line 307, ../sass/base.scss */
button.holy.wb.vertical.medium:before, button.holy.wb.vertical.medium span, a.holy.wb.vertical.medium:before, a.holy.wb.vertical.medium span, span.holy.wb.vertical.medium:before, span.holy.wb.vertical.medium span {
  line-height: 35.2512px;
}
/* line 310, ../sass/base.scss */
button.holy.wb.vertical.big:before, button.holy.wb.vertical.big span, a.holy.wb.vertical.big:before, a.holy.wb.vertical.big span, span.holy.wb.vertical.big:before, span.holy.wb.vertical.big span {
  line-height: 50.176px;
}
/* line 312, ../sass/base.scss */
button.holy.wb.vertical.style2, a.holy.wb.vertical.style2, span.holy.wb.vertical.style2 {
  padding: 0;
}
/* line 314, ../sass/base.scss */
button.holy.wb.vertical.style2 span, a.holy.wb.vertical.style2 span, span.holy.wb.vertical.style2 span {
  padding: 0 20px;
}
/* line 318, ../sass/base.scss */
button.holy.wb.vertical.style2:active span, a.holy.wb.vertical.style2:active span, span.holy.wb.vertical.style2:active span {
  top: 3px;
}
/* line 59, ../sass/main.scss */
button.holy.wb.light-radius, a.holy.wb.light-radius, span.holy.wb.light-radius {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 60, ../sass/main.scss */
button.holy.wb.normal-radius, a.holy.wb.normal-radius, span.holy.wb.normal-radius {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 61, ../sass/main.scss */
button.holy.wb.round-radius, a.holy.wb.round-radius, span.holy.wb.round-radius {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* line 62, ../sass/main.scss */
button.holy.wb[class*="hover1-"], a.holy.wb[class*="hover1-"], span.holy.wb[class*="hover1-"] {
  overflow: hidden;
}
/* line 64, ../sass/main.scss */
button.holy.wb[class*="hover1-"]:before, a.holy.wb[class*="hover1-"]:before, span.holy.wb[class*="hover1-"]:before {
  z-index: 3;
}
/* line 65, ../sass/main.scss */
button.holy.wb[class*="hover1-"]:after, a.holy.wb[class*="hover1-"]:after, span.holy.wb[class*="hover1-"]:after {
  content: '';
  position: absolute;
  z-index: 0;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 73, ../sass/main.scss */
button.holy.wb.hover1-top:after, a.holy.wb.hover1-top:after, span.holy.wb.hover1-top:after {
  left: 0;
  right: 0;
  bottom: 0;
  height: 0;
  width: 100%;
}
/* line 81, ../sass/main.scss */
button.holy.wb.hover1-top:hover:after, a.holy.wb.hover1-top:hover:after, span.holy.wb.hover1-top:hover:after {
  height: 100%;
}
/* line 87, ../sass/main.scss */
button.holy.wb.hover1-right:after, a.holy.wb.hover1-right:after, span.holy.wb.hover1-right:after {
  left: 0;
  top: 0;
  bottom: 0;
  width: 0;
  height: 100%;
}
/* line 95, ../sass/main.scss */
button.holy.wb.hover1-right:hover:after, a.holy.wb.hover1-right:hover:after, span.holy.wb.hover1-right:hover:after {
  width: 100%;
}
/* line 101, ../sass/main.scss */
button.holy.wb.hover1-bottom:after, a.holy.wb.hover1-bottom:after, span.holy.wb.hover1-bottom:after {
  left: 0;
  right: 0;
  top: 0;
  height: 0;
  width: 100%;
}
/* line 109, ../sass/main.scss */
button.holy.wb.hover1-bottom:hover:after, a.holy.wb.hover1-bottom:hover:after, span.holy.wb.hover1-bottom:hover:after {
  height: 100%;
}
/* line 115, ../sass/main.scss */
button.holy.wb.hover1-left:after, a.holy.wb.hover1-left:after, span.holy.wb.hover1-left:after {
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  height: 100%;
}
/* line 123, ../sass/main.scss */
button.holy.wb.hover1-left:hover:after, a.holy.wb.hover1-left:hover:after, span.holy.wb.hover1-left:hover:after {
  width: 100%;
}
/* line 129, ../sass/main.scss */
button.holy.wb.hover1-topleft:after, a.holy.wb.hover1-topleft:after, span.holy.wb.hover1-topleft:after {
  right: -20%;
  top: 0;
  bottom: 0;
  width: 0;
  -moz-transform: skew(-45deg, 0);
  -ms-transform: skew(-45deg, 0);
  -webkit-transform: skew(-45deg, 0);
  transform: skew(-45deg, 0);
}
/* line 137, ../sass/main.scss */
button.holy.wb.hover1-topleft:hover:after, a.holy.wb.hover1-topleft:hover:after, span.holy.wb.hover1-topleft:hover:after {
  width: 140%;
}
/* line 143, ../sass/main.scss */
button.holy.wb.hover1-topright:after, a.holy.wb.hover1-topright:after, span.holy.wb.hover1-topright:after {
  left: -20%;
  top: 0;
  bottom: 0;
  width: 0;
  -moz-transform: skew(45deg, 0);
  -ms-transform: skew(45deg, 0);
  -webkit-transform: skew(45deg, 0);
  transform: skew(45deg, 0);
}
/* line 151, ../sass/main.scss */
button.holy.wb.hover1-topright:hover:after, a.holy.wb.hover1-topright:hover:after, span.holy.wb.hover1-topright:hover:after {
  width: 140%;
}
/* line 157, ../sass/main.scss */
button.holy.wb.hover1-bottomleft:after, a.holy.wb.hover1-bottomleft:after, span.holy.wb.hover1-bottomleft:after {
  right: -20%;
  top: 0;
  bottom: 0;
  width: 0;
  -moz-transform: skew(45deg, 0);
  -ms-transform: skew(45deg, 0);
  -webkit-transform: skew(45deg, 0);
  transform: skew(45deg, 0);
}
/* line 165, ../sass/main.scss */
button.holy.wb.hover1-bottomleft:hover:after, a.holy.wb.hover1-bottomleft:hover:after, span.holy.wb.hover1-bottomleft:hover:after {
  width: 140%;
}
/* line 171, ../sass/main.scss */
button.holy.wb.hover1-bottomright:after, a.holy.wb.hover1-bottomright:after, span.holy.wb.hover1-bottomright:after {
  left: -20%;
  top: 0;
  bottom: 0;
  width: 0;
  -moz-transform: skew(-45deg, 0);
  -ms-transform: skew(-45deg, 0);
  -webkit-transform: skew(-45deg, 0);
  transform: skew(-45deg, 0);
}
/* line 179, ../sass/main.scss */
button.holy.wb.hover1-bottomright:hover:after, a.holy.wb.hover1-bottomright:hover:after, span.holy.wb.hover1-bottomright:hover:after {
  width: 140%;
}
/* line 185, ../sass/main.scss */
button.holy.wb.hover1-center:after, a.holy.wb.hover1-center:after, span.holy.wb.hover1-center:after {
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: width 0.3s, height 0.3s, background-color 0.3s;
  -o-transition: width 0.3s, height 0.3s, background-color 0.3s;
  -webkit-transition: width 0.3s, height 0.3s, background-color 0.3s;
  transition: width 0.3s, height 0.3s, background-color 0.3s;
}
/* line 194, ../sass/main.scss */
button.holy.wb.hover1-center:hover:after, a.holy.wb.hover1-center:hover:after, span.holy.wb.hover1-center:hover:after {
  width: 100%;
  height: 100%;
}
/* line 201, ../sass/main.scss */
button.holy.wb[class*="hover2"]:before, a.holy.wb[class*="hover2"]:before, span.holy.wb[class*="hover2"]:before {
  z-index: 3;
}
/* line 202, ../sass/main.scss */
button.holy.wb[class*="hover2"]:after, a.holy.wb[class*="hover2"]:after, span.holy.wb[class*="hover2"]:after {
  content: '';
  position: absolute;
  z-index: 2;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 209, ../sass/main.scss */
button.holy.wb[class*="hover2"].hover2:hover, a.holy.wb[class*="hover2"].hover2:hover, span.holy.wb[class*="hover2"].hover2:hover {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 213, ../sass/main.scss */
button.holy.wb[class*="hover2"].hover2.light-radius:hover, a.holy.wb[class*="hover2"].hover2.light-radius:hover, span.holy.wb[class*="hover2"].hover2.light-radius:hover {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 218, ../sass/main.scss */
button.holy.wb[class*="hover2"].hover2.normal-radius:hover, a.holy.wb[class*="hover2"].hover2.normal-radius:hover, span.holy.wb[class*="hover2"].hover2.normal-radius:hover {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* line 223, ../sass/main.scss */
button.holy.wb[class*="hover2"].hover2.round-radius:hover, a.holy.wb[class*="hover2"].hover2.round-radius:hover, span.holy.wb[class*="hover2"].hover2.round-radius:hover {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 229, ../sass/main.scss */
button.holy.wb[class*="hover3"], a.holy.wb[class*="hover3"], span.holy.wb[class*="hover3"] {
  overflow: hidden;
}
/* line 231, ../sass/main.scss */
button.holy.wb[class*="hover3"]:before, a.holy.wb[class*="hover3"]:before, span.holy.wb[class*="hover3"]:before {
  z-index: 0;
}
/* line 234, ../sass/main.scss */
button.holy.wb[class*="hover3"]:after, a.holy.wb[class*="hover3"]:after, span.holy.wb[class*="hover3"]:after {
  content: '';
  position: absolute;
  z-index: 5;
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 248, ../sass/main.scss */
button.holy.threeD, a.holy.threeD, span.holy.threeD {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 0 20px;
  font-size: 16px;
  line-height: 54.4px;
}
/* line 79, ../sass/base.scss */
button.holy.threeD:before, a.holy.threeD:before, span.holy.threeD:before {
  font-size: 25.6px;
  float: left;
  line-height: 54.4px;
  margin-right: 12px;
}
/* line 85, ../sass/base.scss */
button.holy.threeD.small, a.holy.threeD.small, span.holy.threeD.small {
  padding: 0 11px;
  font-size: 12px;
  line-height: 31.8px;
}
/* line 89, ../sass/base.scss */
button.holy.threeD.small:before, a.holy.threeD.small:before, span.holy.threeD.small:before {
  font-size: 14.4px;
  line-height: 31.8px;
  margin-right: 6.6px;
}
/* line 95, ../sass/base.scss */
button.holy.threeD.medium, a.holy.threeD.medium, span.holy.threeD.medium {
  padding: 0 14px;
  font-size: 14.4px;
  line-height: 44.064px;
}
/* line 99, ../sass/base.scss */
button.holy.threeD.medium:before, a.holy.threeD.medium:before, span.holy.threeD.medium:before {
  font-size: 20.16px;
  line-height: 44.064px;
  margin-right: 8.4px;
}
/* line 105, ../sass/base.scss */
button.holy.threeD.big, a.holy.threeD.big, span.holy.threeD.big {
  padding: 0 24px;
  font-size: 22.4px;
  line-height: 62.72px;
}
/* line 109, ../sass/base.scss */
button.holy.threeD.big:before, a.holy.threeD.big:before, span.holy.threeD.big:before {
  font-size: 40.32px;
  line-height: 62.72px;
  margin-right: 14.4px;
}
/* line 115, ../sass/base.scss */
button.holy.threeD.only-icon, a.holy.threeD.only-icon, span.holy.threeD.only-icon {
  padding: 0;
  line-height: 54.4px;
  height: 54.4px;
  width: 54.4px;
}
/* line 120, ../sass/base.scss */
button.holy.threeD.only-icon:before, a.holy.threeD.only-icon:before, span.holy.threeD.only-icon:before {
  float: none;
  line-height: inherit;
  margin-right: 0;
  text-align: center;
}
/* line 126, ../sass/base.scss */
button.holy.threeD.only-icon.small, a.holy.threeD.only-icon.small, span.holy.threeD.only-icon.small {
  width: 31.8px;
  height: 31.8px;
  line-height: 31.8px;
}
/* line 127, ../sass/base.scss */
button.holy.threeD.only-icon.medium, a.holy.threeD.only-icon.medium, span.holy.threeD.only-icon.medium {
  width: 44.064px;
  height: 44.064px;
  line-height: 44.064px;
}
/* line 128, ../sass/base.scss */
button.holy.threeD.only-icon.big, a.holy.threeD.only-icon.big, span.holy.threeD.only-icon.big {
  width: 62.72px;
  height: 62.72px;
  line-height: 62.72px;
}
/* line 130, ../sass/base.scss */
button.holy.threeD[class*="hover3"], a.holy.threeD[class*="hover3"], span.holy.threeD[class*="hover3"] {
  padding-left: 0;
}
/* line 132, ../sass/base.scss */
button.holy.threeD[class*="hover3"]:before, a.holy.threeD[class*="hover3"]:before, span.holy.threeD[class*="hover3"]:before {
  padding: 0;
  width: 48px;
  margin-right: 24px;
}
/* line 138, ../sass/base.scss */
button.holy.threeD[class*="hover3"].small:before, a.holy.threeD[class*="hover3"].small:before, span.holy.threeD[class*="hover3"].small:before {
  width: 26.4px;
  margin-right: 13.2px;
}
/* line 144, ../sass/base.scss */
button.holy.threeD[class*="hover3"].medium:before, a.holy.threeD[class*="hover3"].medium:before, span.holy.threeD[class*="hover3"].medium:before {
  width: 33.6px;
  margin-right: 16.8px;
}
/* line 150, ../sass/base.scss */
button.holy.threeD[class*="hover3"].big:before, a.holy.threeD[class*="hover3"].big:before, span.holy.threeD[class*="hover3"].big:before {
  width: 57.6px;
  margin-right: 28.8px;
}
/* line 155, ../sass/base.scss */
button.holy.threeD[class*="hover3"]:after, a.holy.threeD[class*="hover3"]:after, span.holy.threeD[class*="hover3"]:after {
  width: 11.2px;
  height: 11.2px;
  left: 42.4px;
  top: 21.6px;
}
/* line 162, ../sass/base.scss */
button.holy.threeD[class*="hover3"].small:after, a.holy.threeD[class*="hover3"].small:after, span.holy.threeD[class*="hover3"].small:after {
  width: 8.4px;
  height: 8.4px;
  left: 21.9px;
  top: 11.7px;
}
/* line 170, ../sass/base.scss */
button.holy.threeD[class*="hover3"].medium:after, a.holy.threeD[class*="hover3"].medium:after, span.holy.threeD[class*="hover3"].medium:after {
  width: 10.08px;
  height: 10.08px;
  left: 28.56px;
  top: 16.992px;
}
/* line 178, ../sass/base.scss */
button.holy.threeD[class*="hover3"].big:after, a.holy.threeD[class*="hover3"].big:after, span.holy.threeD[class*="hover3"].big:after {
  width: 15.68px;
  height: 15.68px;
  left: 49.76px;
  top: 23.52px;
}
/* line 186, ../sass/base.scss */
button.holy.threeD[class*="hover3"]:active:after, a.holy.threeD[class*="hover3"]:active:after, span.holy.threeD[class*="hover3"]:active:after {
  width: 16px;
  height: 16px;
  left: 40px;
  top: 19.2px;
}
/* line 195, ../sass/base.scss */
button.holy.threeD[class*="hover3"].small:active:after, a.holy.threeD[class*="hover3"].small:active:after, span.holy.threeD[class*="hover3"].small:active:after {
  width: 12px;
  height: 12px;
  left: 20.4px;
  top: 9.9px;
}
/* line 205, ../sass/base.scss */
button.holy.threeD[class*="hover3"].medium:active:after, a.holy.threeD[class*="hover3"].medium:active:after, span.holy.threeD[class*="hover3"].medium:active:after {
  width: 14.4px;
  height: 14.4px;
  left: 26.4px;
  top: 14.832px;
}
/* line 215, ../sass/base.scss */
button.holy.threeD[class*="hover3"].big:active:after, a.holy.threeD[class*="hover3"].big:active:after, span.holy.threeD[class*="hover3"].big:active:after {
  width: 22.4px;
  height: 22.4px;
  left: 46.4px;
  top: 20.16px;
}
/* line 225, ../sass/base.scss */
button.holy.threeD.gymicon.burst, a.holy.threeD.gymicon.burst, span.holy.threeD.gymicon.burst {
  overflow: hidden;
}
/* line 227, ../sass/base.scss */
button.holy.threeD.gymicon.burst:before, a.holy.threeD.gymicon.burst:before, span.holy.threeD.gymicon.burst:before {
  position: relative;
  z-index: 2;
}
/* line 231, ../sass/base.scss */
button.holy.threeD.gymicon.burst:after, a.holy.threeD.gymicon.burst:after, span.holy.threeD.gymicon.burst:after {
  content: '';
  background-color: white;
  position: absolute;
  z-index: 1;
  width: 80px;
  height: 80px;
  left: -12px;
  top: 50%;
  -moz-transform: translateY(-50%) scale(0);
  -ms-transform: translateY(-50%) scale(0);
  -webkit-transform: translateY(-50%) scale(0);
  transform: translateY(-50%) scale(0);
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 246, ../sass/base.scss */
button.holy.threeD.gymicon.burst.small:after, a.holy.threeD.gymicon.burst.small:after, span.holy.threeD.gymicon.burst.small:after {
  width: 60px;
  height: 60px;
  left: -6.6px;
}
/* line 253, ../sass/base.scss */
button.holy.threeD.gymicon.burst.medium:after, a.holy.threeD.gymicon.burst.medium:after, span.holy.threeD.gymicon.burst.medium:after {
  width: 72px;
  height: 72px;
  left: -8.4px;
}
/* line 260, ../sass/base.scss */
button.holy.threeD.gymicon.burst.big:after, a.holy.threeD.gymicon.burst.big:after, span.holy.threeD.gymicon.burst.big:after {
  width: 112px;
  height: 112px;
  left: -14.4px;
}
/* line 267, ../sass/base.scss */
button.holy.threeD.gymicon.burst:hover:after, a.holy.threeD.gymicon.burst:hover:after, span.holy.threeD.gymicon.burst:hover:after {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -moz-transform: translateY(-50%) scale(1);
  -ms-transform: translateY(-50%) scale(1);
  -webkit-transform: translateY(-50%) scale(1);
  transform: translateY(-50%) scale(1);
  -moz-transition: all 0.6s;
  -o-transition: all 0.6s;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
/* line 274, ../sass/base.scss */
button.holy.threeD.gymicon.burst.only-icon:after, a.holy.threeD.gymicon.burst.only-icon:after, span.holy.threeD.gymicon.burst.only-icon:after {
  left: 50%;
  -moz-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  -webkit-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}
/* line 279, ../sass/base.scss */
button.holy.threeD.gymicon.burst.only-icon:hover:after, a.holy.threeD.gymicon.burst.only-icon:hover:after, span.holy.threeD.gymicon.burst.only-icon:hover:after {
  -moz-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  -webkit-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
}
/* line 286, ../sass/base.scss */
button.holy.threeD.vertical, a.holy.threeD.vertical, span.holy.threeD.vertical {
  line-height: 1;
}
/* line 292, ../sass/base.scss */
button.holy.threeD.vertical:before, a.holy.threeD.vertical:before, span.holy.threeD.vertical:before {
  float: none;
  display: block;
  margin-right: 0;
  line-height: 43.52px;
}
/* line 298, ../sass/base.scss */
button.holy.threeD.vertical span, a.holy.threeD.vertical span, span.holy.threeD.vertical span {
  display: block;
  margin-bottom: 0;
  line-height: 43.52px;
}
/* line 304, ../sass/base.scss */
button.holy.threeD.vertical.small:before, button.holy.threeD.vertical.small span, a.holy.threeD.vertical.small:before, a.holy.threeD.vertical.small span, span.holy.threeD.vertical.small:before, span.holy.threeD.vertical.small span {
  line-height: 25.44px;
}
/* line 307, ../sass/base.scss */
button.holy.threeD.vertical.medium:before, button.holy.threeD.vertical.medium span, a.holy.threeD.vertical.medium:before, a.holy.threeD.vertical.medium span, span.holy.threeD.vertical.medium:before, span.holy.threeD.vertical.medium span {
  line-height: 35.2512px;
}
/* line 310, ../sass/base.scss */
button.holy.threeD.vertical.big:before, button.holy.threeD.vertical.big span, a.holy.threeD.vertical.big:before, a.holy.threeD.vertical.big span, span.holy.threeD.vertical.big:before, span.holy.threeD.vertical.big span {
  line-height: 50.176px;
}
/* line 312, ../sass/base.scss */
button.holy.threeD.vertical.style2, a.holy.threeD.vertical.style2, span.holy.threeD.vertical.style2 {
  padding: 0;
}
/* line 314, ../sass/base.scss */
button.holy.threeD.vertical.style2 span, a.holy.threeD.vertical.style2 span, span.holy.threeD.vertical.style2 span {
  padding: 0 20px;
}
/* line 318, ../sass/base.scss */
button.holy.threeD.vertical.style2:active span, a.holy.threeD.vertical.style2:active span, span.holy.threeD.vertical.style2:active span {
  top: 3px;
}
/* line 251, ../sass/main.scss */
button.holy.threeD.light-radius, a.holy.threeD.light-radius, span.holy.threeD.light-radius {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
/* line 252, ../sass/main.scss */
button.holy.threeD.normal-radius, a.holy.threeD.normal-radius, span.holy.threeD.normal-radius {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 253, ../sass/main.scss */
button.holy.threeD.round-radius, a.holy.threeD.round-radius, span.holy.threeD.round-radius {
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
/* line 262, ../sass/main.scss */
button.holy.gymicon[class*="rotate"]:before, a.holy.gymicon[class*="rotate"]:before, span.holy.gymicon[class*="rotate"]:before {
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 266, ../sass/main.scss */
button.holy.gymicon.rotate360:hover:before, a.holy.gymicon.rotate360:hover:before, span.holy.gymicon.rotate360:hover:before {
  -moz-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}
/* line 273, ../sass/main.scss */
button.holy.gymicon.rotate180:hover:before, a.holy.gymicon.rotate180:hover:before, span.holy.gymicon.rotate180:hover:before {
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
/* line 280, ../sass/main.scss */
button.holy.gymicon.rotate90:hover:before, a.holy.gymicon.rotate90:hover:before, span.holy.gymicon.rotate90:hover:before {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
/* line 287, ../sass/main.scss */
button.holy.gymicon.spin:not([class*="hover"]):before, button.holy.gymicon.spin.hover:hover:before, a.holy.gymicon.spin:not([class*="hover"]):before, a.holy.gymicon.spin.hover:hover:before, span.holy.gymicon.spin:not([class*="hover"]):before, span.holy.gymicon.spin.hover:hover:before {
  -webkit-animation: spin 2s linear infinite;
}
/* line 294, ../sass/main.scss */
button.holy.gymicon.levitate:not([class*="hover"]):before, button.holy.gymicon.levitate.hover:hover:before, a.holy.gymicon.levitate:not([class*="hover"]):before, a.holy.gymicon.levitate.hover:hover:before, span.holy.gymicon.levitate:not([class*="hover"]):before, span.holy.gymicon.levitate.hover:hover:before {
  -webkit-animation: levitate 1.5s linear infinite;
  text-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}
/* line 302, ../sass/main.scss */
button.holy.gymicon.shake:not([class*="hover"]):before, button.holy.gymicon.shake.hover:hover:before, a.holy.gymicon.shake:not([class*="hover"]):before, a.holy.gymicon.shake.hover:hover:before, span.holy.gymicon.shake:not([class*="hover"]):before, span.holy.gymicon.shake.hover:hover:before {
  -webkit-animation: shake 1.75s linear infinite;
}
/* line 309, ../sass/main.scss */
button.holy.gymicon.fade:not([class*="hover"]):before, button.holy.gymicon.fade.hover:hover:before, a.holy.gymicon.fade:not([class*="hover"]):before, a.holy.gymicon.fade.hover:hover:before, span.holy.gymicon.fade:not([class*="hover"]):before, span.holy.gymicon.fade.hover:hover:before {
  -webkit-animation: fade 1.8s linear infinite;
}

/** -KEYFRAMES- STYLE 4 (GYM'ICON)
******************************/
@-webkit-keyframes spin {
  /* line 322, ../sass/main.scss */
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 323, ../sass/main.scss */
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  /* line 322, ../sass/main.scss */
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 323, ../sass/main.scss */
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  /* line 322, ../sass/main.scss */
  from {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 323, ../sass/main.scss */
  to {
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes levitate {
  /* line 326, ../sass/main.scss */
  0% {
    top: 0;
  }

  /* line 327, ../sass/main.scss */
  50% {
    top: -6px;
  }

  /* line 328, ../sass/main.scss */
  100% {
    top: 0px;
  }
}
@-moz-keyframes levitate {
  /* line 326, ../sass/main.scss */
  0% {
    top: 0;
  }

  /* line 327, ../sass/main.scss */
  50% {
    top: -6px;
  }

  /* line 328, ../sass/main.scss */
  100% {
    top: 0px;
  }
}
@keyframes levitate {
  /* line 326, ../sass/main.scss */
  0% {
    top: 0;
  }

  /* line 327, ../sass/main.scss */
  50% {
    top: -6px;
  }

  /* line 328, ../sass/main.scss */
  100% {
    top: 0px;
  }
}
@-webkit-keyframes shake {
  /* line 331, ../sass/main.scss */
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 332, ../sass/main.scss */
  12% {
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  /* line 333, ../sass/main.scss */
  24% {
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }

  /* line 334, ../sass/main.scss */
  36% {
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  /* line 335, ../sass/main.scss */
  48% {
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }

  /* line 336, ../sass/main.scss */
  60% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 337, ../sass/main.scss */
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-moz-keyframes shake {
  /* line 331, ../sass/main.scss */
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 332, ../sass/main.scss */
  12% {
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  /* line 333, ../sass/main.scss */
  24% {
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }

  /* line 334, ../sass/main.scss */
  36% {
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  /* line 335, ../sass/main.scss */
  48% {
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }

  /* line 336, ../sass/main.scss */
  60% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 337, ../sass/main.scss */
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes shake {
  /* line 331, ../sass/main.scss */
  0% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 332, ../sass/main.scss */
  12% {
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  /* line 333, ../sass/main.scss */
  24% {
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }

  /* line 334, ../sass/main.scss */
  36% {
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
  }

  /* line 335, ../sass/main.scss */
  48% {
    -moz-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    transform: rotate(-40deg);
  }

  /* line 336, ../sass/main.scss */
  60% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  /* line 337, ../sass/main.scss */
  100% {
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes fade {
  /* line 340, ../sass/main.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  /* line 341, ../sass/main.scss */
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 342, ../sass/main.scss */
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  /* line 343, ../sass/main.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@-moz-keyframes fade {
  /* line 340, ../sass/main.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  /* line 341, ../sass/main.scss */
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 342, ../sass/main.scss */
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  /* line 343, ../sass/main.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
@keyframes fade {
  /* line 340, ../sass/main.scss */
  0% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  /* line 341, ../sass/main.scss */
  20% {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
  }

  /* line 342, ../sass/main.scss */
  40% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }

  /* line 343, ../sass/main.scss */
  100% {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
  }
}
